@import url(https://fonts.googleapis.com/css?family=Roboto:300);
#error
{
  text-align: center;
  color: rgb(116, 113, 113);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;
}
#num
{
  margin-right: 60px;
  font-weight: 900;
}
#titre_principal
{
  font-size: 1.34em;
  font-family:'Times New Roman', Times, serif;
  align-self: center;  
}
#logo
{
  margin-left: 80px;
  display: flex;
  justify-content: center;

}
#logo img
{
    width: 65px;
    height: 66px;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-page .form .login{
  margin-top: -31px;
margin-bottom: 26px;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #35a7c3;
  background-image: linear-gradient(45deg,#c4c1cf,#abbbbf);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #ff0000;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

body {
  background-color: rgb(213, 206, 206);
  background-image: linear-gradient(45deg,#bccac9,#aab3b6);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
footer
{
  font-size: 1.45em;
  text-align: center;
  color: #6c7071;
}