@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    align-items: center;
    
}

button{
    background-color:#1B669D; 
    border: none;
    
}

h1{
    color:white;
     font-family: 'Montserrat', sans-serif;
    display: inline;
}

input{
    border: none;
    font-family: 'Nunito', sans-serif;
    font-size: 15.5px;
    min-width:  400px;
    
}

::placeholder{
    font-size: 15.5px;
}


.flexbox-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
            
}

/*Alignement horizontal -> vertical*/
@media (max-width: 800px) {
  .flexbox-container {
    flex-direction: column;
      
  }
}

tr{
    border-bottom-color: black;
    
}

td{
    margin: 3px 3px 3px 3px ;
    background-color: lightgrey;
    
    
}

table{
    width: 600px;
}

th{
    margin: 3px 3px 3px 3px ;
    background-color: black;
    color: white;
    
}

.concat{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flexbox-item{
    margin: 25px 25px 25px 25px;
    padding: 25px 25px 25px 25px;
    background-color:#B8D2F1;
    
    font-family: 'Nunito', sans-serif;
}


h2{
    font-size: 25px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.userInfo{
    background-color: white;
    
    padding: 10px;
}

.box{
    padding-bottom: 1px;
    background-color: white;
}

.infoType{
    display: inline-block;
    text-align: center;
    background-color: black;
    color: white;
    
    width: 200px;
    height: inherit;
}

.submitBtn{
    align-items: center;
    
}
